<% provide(:title, 'ユーザー一覧') %>
<div class="container animate__animated animate__zoomIn">
  <h1>ユーザー一覧</h1>
  <%= will_paginate %>
  <ul class="users">
    <%= render @users %>
  </ul>
  <%= will_paginate %>
</div>