<% provide(:title, "アプリ登録") %>
<div class="container animate__animated animate__zoomIn">
  <h1>アプリ登録</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= render 'apps/app_form' %>
    </div>
  </div>
</div>